.navbar-items img{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.navbar-expand-lg{
    position: fixed;
    
}
.navbar{
    position: sticky;
    top: 0;    
}
mdb-navbar{
    position: fixed;
    top: 0;
    top:0;
    width: 100%;
    z-index: 15;
    
}
@media only screen and (max-width: 850px){
    .navbar-expand-lg{
        max-width: 100px;        
    }
}
.d-inline{
    align-items: center;
}
