<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark container-fluid lighten-1" [containerInside]="false" id="navbar">

  
  <mdb-navbar-brand><a class="navbar-brand " [routerLink]="['/home']"><img src="./assets/img/logo.png" height="30" class="d-inline-block align-top" alt="">Family-Tree</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" [routerLink]="['/home']" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <ng-template [ngIf]="getItemm('username')!=''">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/tree']"  mdbWavesEffect>Trees</a>
      </li>
      </ng-template>
      <ng-template [ngIf]="getItemm('username')!=''">
        <a class="nav-link waves-light" [routerLink]="['/photo-gallery']" mdbWavesEffect>Photo gallery</a>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#about" mdbWavesEffect>About-us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/contact-us']" mdbWavesEffect>Contact</a>
      </li>

      

    </ul>
    
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <ng-template [ngIf]="getItemm('username')==''">
      <li class="nav-item login-btn rounded-pill border border-info">
        <a class="nav-link" [routerLink]="['/login']">Login <mdb-icon fas icon="user-alt"></mdb-icon></a>
      </li>
      <li class="nav-item rounded-pill border border-info">
        <a class="nav-link" [routerLink]="['/register']">Create Account <mdb-icon fas icon="user-plus"></mdb-icon></a>
      </li>
      </ng-template>
      <ng-template [ngIf]="getItemm('username')!=''">
        <li class="nav-item rounded-pill login-btn border border-info">
          <a class="nav-link" href="/profile"><mdb-icon fas icon="user-alt"> </mdb-icon>{{curName}} </a>
        </li>
        
        <li class="nav-item border border-info rounded-pill">
          <a class="nav-link"  (click)="logout()" [routerLink]="['/login']">Log Out <mdb-icon fas icon="sign-out-alt" ></mdb-icon></a>
        </li>
      </ng-template>

    </ul>
    

  </links>
  

</mdb-navbar>

<!--<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>-->