
.about-section {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 25px;
  padding: 100px;
  margin-top: -20px;
  text-align: center;
  background-color: #413e3af1;
  color: white;
}


