<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="tree.component.css">
<div class="w3-container w3-padding-64 w3-center">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--<div id="editForm" style="display:none; text-align:center; position:absolute; border: 1px solid #aeaeae;width:500px;background-color:white;z-index:10000; ">
    <div style="padding: 10px 0 10px 0; background-color:#039BE5; color: #ffffff;">Edit Form</div>
    <div>
        <div style="width: auto;padding: 10px 0 5px 0;">
            <label style="color:black; width:50px; display:inline-block;" for="name">Name</label>
            <input style="background-color:#FFCA28" id="name" value="" />
        </div>
        <div style="padding: 5px 0 10px 0;">
            <label style="color:black; width:50px; display:inline-block;" for="title">Title</label>
            <input style="background-color:#FFCA28"  id="title" value="" />
        </div>
        <div style="padding: 5px 0 10px 0;">
            <label style="color:black; width:50px; display:inline-block;" for="title">Title</label>
            <input style="background-color:#FFCA28"  id="title" value="" />
        </div>
        <div style="padding: 5px 0 10px 0;">
            <label style="color:black; width:50px; display:inline-block;" for="title">Title</label>
            <input style="background-color:#FFCA28"  id="title" value="" />
        </div>
        <div style="padding: 5px 0 15px 0;">
            <button style="width:108px;" id="cancel">Cancel</button>
            <button style="width:108px;" id="save">Save</button>
        </div>
    </div>
</div> -->


    
    <select  class="form-select form-select-lg mb-3" style="position: absolute;left: 3vw;font-size: 14px;padding: 10px;z-index:2;" id="selectTemplate">
        <option selected>Choose your template</option>
        <option>olivia</option>
        <option>diva</option>
        <option>mila</option>
        <option>polina</option>
        <option>mery</option>
        <option>rony</option>
        <option>belinda</option>
        <option>ula</option>
        <option>ana</option>
        <option>isla</option>
        <option>deborah</option>
    </select>
    <div id="tree" class="tree-content" >
    
    </div>


