[node-id="1"] rect {
    fill: #750000;
}
:host ::ng-deep [data-n-id='3'] rect, :host ::ng-deep [data-n-id='6'] rect, :host ::ng-deep [data-n-id='7'] rect, :host ::ng-deep [data-n-id='9'] rect, :host ::ng-deep [data-n-id='11'] rect{
    fill: pink;
}
:host ::ng-deep [data-n-id='12'] rect, :host ::ng-deep [data-n-id='13'] rect, :host ::ng-deep [data-n-id='17'] rect, :host ::ng-deep [data-n-id='18'] rect, :host ::ng-deep [data-n-id='21'] rect{
    fill: pink;
}
:host ::ng-deep [data-n-id='34'] rect,:host ::ng-deep [data-n-id='26'] rect, :host ::ng-deep [data-n-id='28'] rect, :host ::ng-deep [data-n-id='38'] rect, :host ::ng-deep [data-n-id='40'] rect, :host ::ng-deep [data-n-id='41'] rect{
    fill: pink;
}
:host ::ng-deep [data-n-id='47'] rect, :host ::ng-deep [data-n-id='2'] rect{
    fill: pink;
}
.tree-container{
    border: 2px solid;
}
a{
    position: relative;
}
#tree{
    height: 100%;
    width: 100%;
    float: left;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.tree-wrapper{
    margin-top: 3rem;
    margin-left: 5vw;
    margin-right:5vw;
    
}
@media only screen and (max-width: 850px){
    .tree-wrapper{
        margin: auto;
        height: auto;
        
    }
}
