.img-form{
    margin-top: calc(56px + 5rem);
    margin-bottom: 5rem;
}
.container{
    width: auto;
}
.form-2{
    
}
#my-file-selector{
    padding-top: 100px;
    margin-top: 500px;
    height: 500px;
}
.mlem{
    height: 500px;
}

.container{
    margin-top: 56px;
    margin-bottom: 56px;
}