body{
  background-image: url('https://wallpaperaccess.com/full/545792.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login{
  height: 100vh;
}
.login-btn{
  width:auto;
  align-items: center;
}
.col-sm-3{
  background-color: white;
  height: 100vh;
  
}
.h2, .col-sm-9{
  font-family: museo,sans-serif;
}
.form-container{
  margin-left: 25px;
  margin-right: 25px;
}
.col-sm-9{
  margin-top: 75vh;

}
hr{
  margin-left: 25px;
  margin-right: 25px;
}
.media-login, .alter-log, .create-account{
  padding-top: 2vh;
}
.forget-pass, i{
  float: right;
}
a{
  display: inline-flex;
}
.facebook span, .google-plus span{
  font-size: 16px;
  float: left;
}
.facebook-login, .google-login{
  
  padding-left: 50%;
}
.bi-google{
  color: red;
}
.regis-btn{
  display: table-cell;
  vertical-align: middle;
}
.login-head{
  padding-top: 7.5%;
}
.flex-row{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.text-white{
  font-family: Garamond;
  
}
.h3{
  font-size: 60px;
}
.text{
  font-size: 26px;
  width: 60%;

}
i .bi-google{
  margin-right: 75px;
}