
<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #26c6da;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
            </a>
            <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
            </a>
            <a class="li-ic">
              <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
            </a>
            <a class="ins-ic">
              <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Family Tree</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Our website is your trust worthy friend to create and manage your own family tree to connect, share and learn more about your relative all around the globe.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold"> Our Services</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Create your Account.</a>
          </p>
          <p>
            <a href="#!">Create your trees</a>
          </p>
          <p>
            <a href="#!">Edit profile</a>
          </p>
          <p>
            <a href="#!">Create Article about you and more.</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">About Us</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Our founder</a>
          </p>
          <p>
            <a href="#!">History</a>
          </p>
          <p>
            <a href="#!">staff</a>
          </p>
          <p>
            <a href="#!">Terms and Condition</a>
          </p>

        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Viet Nam, HCM city
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> familytree@gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 84 932 824 277
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 84 932 824 277
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="/home">familytree.com</a>
    </div>
  </footer>
