<!-- Material form contact -->
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Contact us</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">

      <!-- Name -->
      <div class="md-form mt-3">
        <input type="text" id="materialContactFormName" class="form-control" mdbInput>
        <label for="materialContactFormName">Name</label>
      </div>

      <!-- E-mail -->
      <div class="md-form">
        <input type="email" id="materialContactFormEmail" class="form-control" mdbInput>
        <label for="materialContactFormEmail">E-mail</label>
      </div>

      <!-- Subject -->
      

      <!--Message-->
      <div class="md-form">
        <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" mdbInput></textarea>
        <label for="materialContactFormMessage">Message</label>
      </div>

      <!-- Copy -->
      

      <!-- Send button -->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
        type="submit">Send</button>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form contact -->